<div class = "navpanel sticky" >
    <a routerLink='/login' class='aboutus'>Log Out</a>
    <a routerLink='/checkeligiblity' class='checkeligibility'>Apply Loan</a>
    <a routerLink='/emicalculator' class='EMIcalculator'>EMI Calculator</a>
    <a routerLink='/userdashboard:id' class='home'>Home</a>
    <a routerLink='/myformstatus'></a>
    <img style = "height: 65px; margin:2px 30px; vertical-align: middle;" src = "assets/images/car-loan.png">
  </div>

  <!-- html code for EMI calculator -->

<div class="container">
    <div class="row">
        <br><br>
        <h1 class = "text" style = "font-size: 25px;">EMI Calculator</h1>
        <hr width="100%">
        <input type="number" class="input" placeholder="Loan Amount"   [(ngModel)]="loanAmount" /> <br> <br>
        <input type="number" class="input" placeholder="Tenure in months"  [(ngModel)]="tenure" /> <br><br><br>
        <p class=" interest ">The interest rate is 10%</p>
        <!-- <input type="number" class="input" placeholder="Interest rate"  [(ngModel)]="interest" /> <br> <br> -->
        <button class="btn" (click)="cal()">Calculate</button>
        <h2>EMI:{{ emi }}/month</h2>



    </div>

</div>


