
<div class = "navpanel sticky" >
    
  <a routerLink='/aboutus' class='aboutus'>About Us</a>
  <a routerLink='/login' class='login'>Login</a>
  <a routerLink='/home' class='home'>Home</a>
  <img style = "height: 65px; margin:2px 30px; vertical-align: middle;" src = "assets/images/car-loan.png"> 

</div>


<!-- HTML code for login page -->


<div class="container">
  <div class="row">
    <h1 class="text" style = "font-size: 25px;">Login into your account</h1>
    <hr style="width:70%">
    <p class = "text" style = "color: grey; font-size: 12px;">Login using your username and password<p>
    <br>
    <a class = "btn login" routerLink='/adminlogin'>Admin Login</a> <br>
    <a class = "btn login" routerLink='/userlogin'>User Login</a> <br> <br>
      <p class="text" style="color: grey;">Not a registered user? Sign up!<p>
  </div>
</div>

<div class="bottom-container">
<div class="row">
  <div class="col">
    <a href="/signup" style="color:white" class="btn">SIGN UP</a>
  </div>
</div>
