<div class="navpanel sticky">

    <a routerLink='/aboutus' class='aboutus'>About Us</a>
    <a routerLink='/login' class='login'>Login</a>
    <a routerLink='/home' class='home'>Home</a>
        <img style="height: 65px; margin:2px 30px; margin-left: 100px; vertical-align: middle;" src="assets/images/car-loan.png">Vehicle Loan

</div>

<!-- HTML code for home page displaying image and other  information -->

<br>
<br><br><br><br><br>
<head>AutoLoans</head>
<title>AutoLoans</title>

<h1 class="image">Welcome to AutoLoans</h1>
<br>
<div>
    <img class="image" src="../../assets/images/HomePage.jpg">
</div>
<div>

    <div class="container">
        <div style="margin-top: 40px; color: #0c86bf;">
            <h4>Get the car you want, the way you want it with our vehicle Loan
            </h4>
        </div>
        <div class="row" style="margin-top: 20px;">
            Why not own your dream a vehicle today - the one you’ve always been waiting for? Our vehicle Loan is quick
            and comes with exclusive features like 100% financing on select vehicles, flexible repayment tenure and
            pocket-friendly EMI so that you get the dream vehicle you want, in a matter of minutes!
        </div>
        <hr style="width:70%">
        <div class="row">
            We offer easy vehicle loans to both salaried and self-employed. What’s more, we not only help you raise
            funds but also assist you in finding your dream vehicle and the right dealer. So, what are you waiting for?
            Apply for a vehicle Loan today!
        </div>
    </div>


    <footer class="footer">
        <br>
        <img style="height: 68px; margin: -5px 20px; vertical-align: middle; float: left;">
        <p>© AutoLoans 2022. All Rights Reserved.<br>
            <a>Project Gladiator (Larsen & Toubro Infotech Limited)</a>
        </p><br>
    </footer>