<div class="navpanel sticky">
    <a routerLink='/login' class='aboutus'>Log Out</a>
    <a routerLink='/admindashboard'>Admin Dashboard</a>
    <a routerLink='/allrejected'>Rejected List</a>
    <a routerLink='/allapplications'>Applications list</a>
    <a routerLink='/allclients'>Registered Clients</a>
    <img style="height: 65px; margin:2px 30px; vertical-align: middle;" src="assets/images/car-loan.png">
</div>

<!-- HTML code for Rejected Application forms -->

<br>
<br />
<div class="container">
    <div class="row">
        <h1>-------All Rejected Application Forms--------</h1>
        <br><br><br><br>

        <table class='table  table-bordered table-hover'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Status ID</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Application ID</th>
                    <th scope="col">Admin ID</th>
                    <th scope="col">Application Status</th>
                    <th scope="col">Rejection Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of rejects">
                    <td>{{r.status_id}}</td>
                    <td>{{r.user_ref_id}}</td>
                    <td>{{r.application_id}}</td>
                    <td>{{r.admin_ref_id}}</td>
                    <td>{{r.application_status}}</td>
                    <td>{{r.rejection_reason}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>