
<div class="navpanel sticky">

  <a routerLink='/aboutus' class='aboutus'>About Us</a>
  <a routerLink='/login' class='login'>Login</a>
  <a routerLink='/home' class='home'>Home</a>
  <img style="height: 65px; margin:2px 30px; vertical-align: middle;" src="assets/images/car-loan.png">

</div>



<section class="vh-100" style="background-color: rgb(201, 196, 196);">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <h1 class="signup">Sign up here!</h1>

                <form #registerform="ngForm" novalidate (ngSubmit)="onSubmit(registerform.value)">
                  <!-- <h1>New Registration</h1> -->
                  <pre></pre>
                  <div class="form-group">
                    <label for="First_Name">First Name</label><br>
                    <input #First_Name="ngModel" required minlength="2" maxlength="14" type="text" name="user_firstname"
                      class="form-control" placeholder="Enter your first name" ngModel>
                    <div *ngIf="First_Name.touched && First_Name.invalid" class="alert alert-danger">
                      <p *ngIf="First_Name.hasError('required')">Name is required</p>
                      <p *ngIf="First_Name.hasError('minlength')">Minimum lenght should be atleast 2</p>
                    </div>
                  </div>

                  <div class="form-group">
                    <pre></pre>
                    <label for="Last_Name">Last Name </label><br>
                    <input #Last_Name="ngModel" type="text" name="user_lastname" class="form-control"
                      placeholder="Enter your last name" ngModel>

                  </div>

                  <div class="form-group">
                    <pre></pre>
                    <label for="email">Email</label><br>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input #email="ngModel" required minlength="2" maxlength="25" type="text" name="user_email"
                        class="form-control" placeholder="name@gmail.com" ngModel>
                      <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                        <p *ngIf="email.hasError('required')">Name is required</p>
                        <p *ngIf="email.hasError('minlength')">Minimum lenght should be atleast 2</p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <pre></pre>
                    <label for="Last_Name">Gender </label><br>
                    <input #Last_Name="ngModel" type="text" name="user_gender" class="form-control"
                      placeholder="Enter your gender" ngModel>
                    <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger"> -->
                    <!-- <p *ngIf="name.hasError('required')">Name is required</p> -->
                    <!-- <p *ngIf="name.hasError('minlength')">Minimum lenght should be atleast 2</p> -->
                  </div>
                  <div class="form-group">
                    <pre></pre>
                    <label for="Last_Name">Address </label><br>
                    <input #Last_Name="ngModel" type="text" name="user_address" class="form-control"
                      placeholder="Enter your address" ngModel>
                    <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger"> -->
                    <!-- <p *ngIf="name.hasError('required')">Name is required</p> -->
                    <!-- <p *ngIf="name.hasError('minlength')">Minimum lenght should be atleast 2</p> -->
                  </div>
                  <div class="form-group">
                    <pre></pre>
                    <label for="Last_Name">State </label><br>
                    <input #Last_Name="ngModel" type="text" name="user_state" class="form-control"
                      placeholder="Enter your state" ngModel>
                    <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger"> -->
                    <!-- <p *ngIf="name.hasError('required')">Name is required</p> -->
                    <!-- <p *ngIf="name.hasError('minlength')">Minimum lenght should be atleast 2</p> -->
                  </div>
                  <div class="form-group">
                    <pre></pre>
                    <label for="Last_Name">City </label><br>
                    <input #Last_Name="ngModel" type="text" name="user_city" class="form-control"
                      placeholder="Enter your city" ngModel>
                    <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger"> -->
                    <!-- <p *ngIf="name.hasError('required')">Name is required</p> -->
                    <!-- <p *ngIf="name.hasError('minlength')">Minimum lenght should be atleast 2</p> -->
                  </div>
                  <div class="form-group">
                    <pre></pre>
                    <label for="Last_Name">Pincode </label><br>
                    <input #Last_Name="ngModel" type="text" name="user_pincode" class="form-control"
                      placeholder="Enter your pincode" ngModel>
                    <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger"> -->
                    <!-- <p *ngIf="name.hasError('required')">Name is required</p> -->
                    <!-- <p *ngIf="name.hasError('minlength')">Minimum lenght should be atleast 2</p> -->
                  </div>
                  <div class="form-group">
                    <pre></pre>
                    <label for="Last_Name">Password </label><br>
                    <input #Last_Name="ngModel" type="text" name="user_password" class="form-control"
                      placeholder="Enter your password" ngModel>
                    <!-- <div *ngIf="name.touched && name.invalid" class="alert alert-danger"> -->
                    <!-- <p *ngIf="name.hasError('required')">Name is required</p> -->
                    <!-- <p *ngIf="name.hasError('minlength')">Minimum lenght should be atleast 2</p> -->
                  </div>
                  <div class="form-group">
                    <pre></pre>
                    <label for="contact">Phone Number</label><br>
                    <input #contact="ngModel" minlength="10" type="text" name="user_phonenum" class="form-control"
                      placeholder="Enter Phone number" ngModel>
                    <div *ngIf="contact.touched && contact.invalid" class="alert alert-danger">
                      <p *ngIf="contact.hasError('required')">Number is required</p>
                      <p *ngIf="contact.hasError('minlength')">Invalid Phone Number</p>
                    </div>
                  </div>
                  <pre></pre>
                  <div class="form-group">
                    <label for="dob">Date of Birth</label><br>
                    <input #dob="ngModel" type="date" name="user_dob" class="form-control" ngModel>
                    <div *ngIf="dob.touched && dob.invalid" class="alert alert-danger">
                      <p *ngIf="dob.hasError('required')">DOB is required</p>
                      <!-- <p *ngIf="name.hasError('minlength')">Minimum lenght should be atleast 2</p> -->
                    </div>
                  </div>
                  <pre></pre>
                  <button type="submit" class="btn" [disabled]="!registerform.valid">Submit</button>
                  <!-- <input type="submit" value="submit"> -->
                  <router-outlet></router-outlet>
                </form>


              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>