.navpanel{
    overflow: hidden;
    background-color: #0c86bf;
    width: 100%;
    margin-left: auto;
    height: 70px;
    z-index: 1;
  }
  
  .navpanel a{
  float: right;
  color: white;
  display: block;
  font-family: Verdana, sans-serif;
  text-align: center;
  padding: 26px 26px;
  text-decoration: none;

  }
  
  .navpanel a:hover {
  background-color:#0c86bf ;
  
  }

  .signup {
    color:#0c86bf ;
  }

  .form-group {
    font-family:Verdana, sans-serif ;
  }

  .container {
    margin-top: 100px;
    z-index: -1
  } 